<head>
<link rel="stylesheet" href="https:maxcd.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
.button
{
    background-color: blue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: h-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
</style>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Powered by Python</h1>
      <p>Render by HTML and JavaScript</p>
    </div>
    <br>
    <div class="row">
    <div class="col-xs-4">
      <img style="width:5%" src="images/weather.png"/>
      <br>
      <button class="button"><a style="color:white" href="weather.html">Weather</a></button>
    </div>
    <div class="col-xs-4">
      <img style="width:5%" src="images/face.png"/>
      <br>
      <button class="button"><a style="color:white" href="face.html">Face Recognition</a></button>
    </div>
    <div class="col-xs-4">
      <img style="width:6%" src="images/object.png"/>
      <br>
      <button class="button"><a style="color:white" href="">Object Detection</a></button>
    </div>
</div>
</div>
<body>
