<head>
  <link rel="stylesheet" href="https://maxcd.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<style>
.button
{
    background-color: blue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: h-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
.button1
{
    background-color: green;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: h-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}
</style>
<body>
  <br>
  <div class="container">
    <button class="button"><a style="color:white" href="gui.html">< Back</a></button>

    <div class="jumbotron">
      <h1>Weather Forecast</h1>
      <h2>Powered by Python</h2>
      <p>Rendered by HTML and JavaScript</p>
    </div>
    <br>
    <label>Enter your city here</label>
    <input id="city" type="text" placeholder="City"/>
    <button class="button1" onclick="">Go!</button>
  </div>
</body>
